.container{
	width: 80%;
	background-color: grey;
}
body{
	background-color: black;
}
.hours{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	color:#000000;
}
.comp{
	border: 1px solid black;
	font-weight: bold;
	color:#000000;
}
h3{
	text-align: center;
}
.proj{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	color:#000000;
}
#entry{
	margin-top: 2em;
	margin-bottom: 2em;
}