.container{
	width: 80%;
	background-color: grey;
}
body{
	background-color: black;
}
.hours{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	color:#000000;
}
.comp{
	border: 1px solid black;
	font-weight: bold;
	color:#000000;
}
h3{
	text-align: center;
}
.proj{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	color:#000000;
}
#entry{
	margin-top: 2em;
	margin-bottom: 2em;
}

#showHide div {
	height: 3em;
	text-align: center;
}

.textPush {
	padding-top: .5em;
}

#showHide {
	border: 3px solid black;
	margin-bottom: 2em;
	background-color: #d8d8d8;
	color:red;
	font-weight: bold;
}
#newRoof{
	margin-top: .2em;
}
#newComp{
	margin-top: .2em;
}
#newProj{
	margin-top: .2em;
}
#insertComp{
	margin-top: .2em;
}
#out{
	padding-left: 2em
}
#addComp{
	margin-bottom: 2em;
}
#textFormat{
	padding-left: 4em;
	
}

.earlyWarning {
	background-color:yellow;
	color: red;
}

.urgentWarning {
	background-color:red;
	color: white;
}

.update input{
	text-align: center;
	vertical-align: center;
	padding:.3em;
}
.adjust button{
	height: 2.3em;
}
